:root {
    /*Colores*/
    --negro: #353535;
    --blanco: #ffffff;
    --Rosado: #ffafcc;
    --AzulClaro: #bde0fe;
    --RosadoClaro: #ffc8dd;
    --Gris: #ccd5ae;
    --fuentePrincipal: "Poppins", sans-serif;
    --fuente: "Amatic SC", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--fuentePrincipal);
    font-size: 16px; 
    margin-left: 8rem;
    margin-top: 8rem;
    transition: margin-left 300ms cubic-bezier(0.085, 0.135, 0.15, 0.86);
  }

  /*globales*/

  h1,h2,h3 {
    text-align: center;
    margin: 0;
    font-weight: 900;
    text-transform: uppercase;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  a {
    text-decoration: none;
  }

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.seccion {
    margin: 3rem 0;
}

.icono {
    width: 3rem;
    cursor: pointer;
   
}

/*Menu lateral*/

.header {
    width: 100%;
    height: 8rem;
    background-color: var(--RosadoClaro);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.icon__menu {
    width: 5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(1rem);
    position: absolute;
}

.menu__side{
    width: 8rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 1.8rem;
    overflow: hidden;
    overflow: scroll;
    border-right: 2rem solid var(--Rosado);
    transition: all 300ms cubic-bezier(0.085, 0.135, 0.15, 0.86);
    color: var(--blanco);
    background-color: var(--Rosado);
}

/*ocultar scroll*/

.menu__side::-webkit-scrollbar{
    display: none;
}

.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name__page{
    padding: 0rem 2.5rem;
    display: flex;
    align-items: center;
   
}

.name__page img{
    margin-right: 2rem;
}

.name__page h4 {
    text-align: center;
    text-transform: uppercase;
}    

.options__menu{
    padding: 2rem 3rem;
    position: absolute;
    top: 8rem;
}

.options__menu a{
    color: var(--blanco);
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: var(--negro);
}

.options__menu .option{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option h3{
    font-size: 1.5rem;
}

.options__menu .option img{
    width: 2rem;
    margin-right: 2rem;
    cursor: pointer;

}

.options__menu .option h3{
    font-weight: 300;
    cursor: pointer;
}

a.select {
    color: var(--negro);
}

.options__menu .select .option h3 {
    font-weight: 800;
}

.select:before{
    content: '';
    width: .6rem;
    height: 80%;
    background-color: var(--blanco);
    position: absolute;
    top: 10%;
    left: -3rem;
}

/*clases para javascript*/

.body_move{
    margin-left: 25rem;
}

.menu__side_move{
    width: 25rem;

}


@media screen and (max-width: 760px)  {
    .body_move{
        margin-left: 0;
    }

    .menu__side_move {
        width: 8rem;
        left: -8rem;
    }
    
}

/*contenido index*/

main{
    padding: 2rem;
}



